html, body {
  /*overflow: hidden;*/
  -webkit-font-smoothing: antialiased; }

.scrollLock {
  max-height: 100vh;
  overflow: hidden; }

* {
  box-sizing: border-box; }

h1 {
  font-family: Lato;
  font-size: 0.75rem;
  line-height: 1rem;
  /*text-transform: uppercase;*/
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: rgba(28, 38, 43, 0.7);
  text-transform: uppercase; }

h2 {
  font-family: Lato;
  font-size: 2.5rem;
  line-height: 3rem;
  text-rendering: optimizeLegibility;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #1c262b;
  background-color: #fff; }
  @media (min-width: 48rem) {
    h2 {
      font-size: 3rem;
      line-height: 4rem; } }
  @media (min-width: 62rem) {
    h2 {
      font-size: 4rem;
      line-height: 5rem; } }

h3 {
  font-family: Lato;
  font-size: 3rem;
  line-height: 3rem;
  text-rendering: optimizeLegibility;
  margin-top: 2rem;
  margin-bottom: 0rem;
  color: #1c262b;
  background-color: #fff; }
  @media (min-width: 48rem) {
    h3 {
      font-size: 4rem;
      line-height: 4.5rem; } }
  @media (min-width: 62rem) {
    h3 {
      font-size: 5rem;
      line-height: 5.5rem; } }
  @media (min-width: 75rem) {
    h3 {
      font-size: 5rem;
      line-height: 5.5rem; } }

h4 {
  font-family: Lato;
  font-size: 0.75rem;
  line-height: 1rem;
  /*text-transform: uppercase;*/
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: rgba(28, 38, 43, 0.4);
  text-transform: uppercase;
  padding-left: 4rem;
  position: relative; }
  h4:before {
    content: "";
    position: absolute;
    left: 0px;
    width: 3rem;
    top: 0.4rem;
    border-top: 1px solid rgba(0, 0, 0, 0.12); }

p {
  font-family: "chaparral-pro";
  font-size: 0.875rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: rgba(28, 38, 43, 0.7); }
  @media (min-width: 48rem) {
    p {
      font-size: 1.25rem;
      line-height: 2rem; } }

.h-padded {
  padding-left: 1rem;
  padding-right: 1rem; }
  @media (min-width: 48rem) {
    .h-padded {
      padding-left: 2rem;
      padding-right: 2rem; } }

@media (min-width: 48rem) {
  .fill-viewport {
    min-height: 100vh; } }

.fill-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px; }

.background-image {
  background-size: cover;
  background-position: center;
  /*transform: translate3d(-50%, 0%, 0px);*/ }

.center-container {
  display: flex;
  align-items: center; }

.mini-caption {
  text-transform: uppercase;
  font-family: Lato;
  font-size: 0.625rem;
  display: block;
  line-height: 1rem;
  color: rgba(28, 38, 43, 0.7);
  font-weight: 400; }

.work-link {
  text-transform: uppercase;
  font-family: Lato;
  font-size: 1rem;
  display: block;
  line-height: 1rem;
  color: rgba(28, 38, 43, 0.7);
  font-weight: 900;
  text-decoration: none; }

.screenshot-wrapper {
  position: relative; }
  .screenshot-wrapper .screenshot-helper {
    padding-top: 177.77%; }
  .screenshot-wrapper .screenshot-inner {
    overflow: hidden; }

#line {
  position: fixed;
  top: 0px;
  left: 16.66%;
  bottom: 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  width: 0px; }

nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100; }
  nav #contact-button {
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: right; }
  nav a {
    text-decoration: none;
    color: #4951B5; }

.content {
  overflow-x: hidden; }

@media (min-width: 48rem) {
  .work-wrapper {
    height: 100vh;
    width: 100%;
    display: block; } }

.work-container {
  position: relative;
  /*background-color: #fff;*/
  padding-bottom: 4rem;
  overflow: hidden; }
  @media (min-width: 48rem) {
    .work-container {
      height: 100vh;
      z-index: 1;
      padding-bottom: 0rem;
      overflow-x: hidden; } }
  .work-container .intro {
    position: relative;
    width: 100%;
    /*z-index: 2;*/
    /*margin-top: 2rem;*/ }
    @media (min-width: 48rem) {
      .work-container .intro {
        height: 100vh;
        display: flex;
        align-items: center;
        /*margin-top: 30vh;*/ } }
    .work-container .intro .row {
      margin-top: -2rem;
      width: 100%; }
  .work-container .hero-image {
    width: 100vw;
    height: 320px;
    z-index: 1;
    position: relative;
    overflow: hidden; }
    @media (min-width: 48rem) {
      .work-container .hero-image {
        width: 100vw;
        height: 100vh;
        z-index: 1;
        position: absolute;
        left: 0px;
        top: 0px;
        transform: translate3d(50%, 0%, 0px) scale3d(0.9, 0.9, 0.9);
        overflow: hidden; } }
  .work-container .work-detail {
    display: none;
    transform: translate3d(0, 8rem, 0px);
    opacity: 0;
    transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1); }
    .work-container .work-detail.showing {
      transform: translate3d(0, 0rem, 0px);
      opacity: 1; }
  .work-container .work-title {
    /*margin-bottom: 0px;*/ }
  .work-container.animated {
    transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1); }
    @media (min-width: 48rem) {
      .work-container.animated .hero-image {
        transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1); }
      .work-container.animated .work-title, .work-container.animated .work-desc, .work-container.animated .work-link-wrapper {
        transition: all 1000ms cubic-bezier(0.075, 0.82, 0.165, 1); } }
  @media (min-width: 48rem) {
    .work-container.hovered .hero-image {
      transform: translate3d(45%, 0%, 0px);
      overflow: hidden; } }
  .work-container.hovered .work-title {
    transform: translate3d(-3rem, 0%, 0px); }
  .work-container.hovered .work-desc {
    transform: translate3d(-4rem, 0%, 0px);
    opacity: 0.5; }
  .work-container.opening {
    overflow-y: scroll;
    /*@media (min-width: 48rem) {
    	.work-title{
    		transform: translate3d(-4rem, 0%, 0px);
    	}
    }*/ }
    .work-container.opening .hero-image {
      transform: translate3d(0, 0%, 0px) scale3d(1, 1, 1);
      overflow: hidden; }
    .work-container.opening .work-title {
      transform: translate3d(-22rem, 0%, 0px);
      opacity: 0; }
    .work-container.opening .work-desc {
      transform: translate3d(-32rem, 0%, 0px);
      opacity: 0; }
    .work-container.opening .work-link-wrapper {
      transform: translate3d(-12rem, 0%, 0px);
      opacity: 0; }
  .work-container.opened {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100vh;
    height: auto;
    /*.intro{
    	display: none;
    }*/ }
    .work-container.opened .work-detail {
      display: block; }
    .work-container.opened .copy {
      display: block; }
    @media (min-width: 48rem) {
      .work-container.opened .intro {
        position: absolute;
        /*z-index: 2;*/
        /*margin-top: 30vh;*/
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px; }
        .work-container.opened .intro .row {
          width: 100%; } }
    @media (min-width: 48rem) {
      .work-container.opened.fixed-scroll-panel .panel-fixed.hero-image {
        position: static; }
        .work-container.opened.fixed-scroll-panel .panel-fixed.hero-image.fixed {
          position: static; }
        .work-container.opened.fixed-scroll-panel .panel-fixed.hero-image.top {
          top: 0px;
          bottom: auto; }
        .work-container.opened.fixed-scroll-panel .panel-fixed.hero-image.bottom {
          top: 0px;
          bottom: auto; } }
  .work-container.offset-up {
    transform: translate3d(0, -100%, 0); }
  .work-container.offset-down {
    transform: translate3d(0, 100%, 0); }

.ken-burns-panel {
  position: relative;
  overflow: hidden; }
  .ken-burns-panel .ken-burns-image-slide {
    opacity: 0;
    transition: all 1000ms cubic-bezier(0.645, 0.045, 0.355, 1); }
    .ken-burns-panel .ken-burns-image-slide.active {
      opacity: 1; }
  .ken-burns-panel .ken-burns-image {
    transition: all 00ms linear;
    transform: scaleX(1.1) scaleY(1.1) scaleZ(1) translate3d(4%, 0, 0); }
    .ken-burns-panel .ken-burns-image.zoomed {
      transition: all 6000ms linear;
      transform: scaleX(1) scaleY(1) scaleZ(1) translate3d(0%, 0, 0); }

/*.fixed-scroll-panel{

	@media (min-width: 48rem) {
		.panel-fixed{
			position: absolute;
			&.fixed{
				position: fixed;	

			}

			&.top{
				top: 0px;
				bottom: auto;
			}

			&.bottom{
				top: auto;
				bottom: 0px;
			}
		}
	}
}*/
@media (min-width: 48rem) {
  .work-link-wrapper {
    margin-right: 50%; } }

.work-link {
  display: inline-block;
  width: auto;
  /*float: left;*/
  text-decoration: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  font-family: Lato;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  transition: all 900ms cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #4951B5; }
  .work-link:before {
    content: "";
    display: block;
    height: 8px;
    background-color: #4951B5;
    position: absolute;
    bottom: 0px;
    left: -2px;
    right: -2px;
    transform: translate3d(0px, -70%, 0px);
    z-index: 1;
    opacity: 0.3;
    transition: all 900ms cubic-bezier(0.075, 0.82, 0.165, 1);
    /*border-radius: 1px;*/ }
  .work-link:hover {
    /*color: #2A2F9E;*/
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translate3d(0px, -5%, 0px); }
    .work-link:hover:before {
      transform: translate3d(-2rem, -70%, 0px);
      opacity: 0.3; }
    .work-link:hover .mini-caption {
      color: rgba(42, 47, 158, 0.87); }
  .work-link:active {
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translate3d(0px, -5%, 0px); }
    .work-link:active:before {
      transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
      transform: translate3d(-4px, -70%, 0px) scale3d(1.2, 0.2, 1);
      opacity: 0.3; }
  @media (min-width: 48rem) {
    .work-link {
      font-size: 1rem; } }

.close-link-wrapper {
  position: fixed;
  top: 12rem;
  right: 3rem;
  z-index: 10; }

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 100vh;
  /*background-color: #1C2644;*/ }
  #intro h2 {
    color: #4951B5; }
  #intro #particles {
    position: absolute;
    z-index: 1; }
  #intro #intro-text {
    position: relative;
    z-index: 10;
    pointer-events: none; }

#main-title {
  color: rgba(0, 0, 0, 0.87);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000; }

/*#threads{
	background-color: #FFF;

	.work-link{
		color: #2024FF;
	}

	.work-link:before{
		background-color: #2024FF;
	}

	p{
		color: $light-text-2;
	}



	.work-detail{
		background-color: #fff;

		p{
			color: rgba(0,0,0,0.87)
		}
	}
}*/
/*#digital-turbine{
	background-color: #D1E1ED;

	h3, .work-link{
		color: #3F4AFF;
	}

	.work-link:before{
		background-color: #3F4AFF;
	}

	p{
		color: rgba(0,0,0,0.54);
	}

	#dt-image{
		position: absolute;
		top:50%;
		transform: translate3d(0%, -50%, 0px);
	}

	.background-image{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: left center;
	}
}*/
#xyo {
  /*	background-color: #1C2644;
  
  	h3, .work-link{
  		color: #FE1B6C;
  	}
  
  	.work-link:before{
  		background-color: #FE1B6C;
  	}
  
  	p{
  		color: rgba(255,255,255,0.7)
  	}*/ }
  #xyo .hero-image {
    background-color: #1C2644;
    overflow: hidden; }
  #xyo .screenshot-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 5vw;
    right: -25vw;
    transform: translate3d(0%, -50%, 0px); }
    @media (min-width: 48rem) {
      #xyo .screenshot-container {
        left: 5vw;
        right: 5vw; } }
  #xyo .screenshot-outer {
    padding: 2vw;
    flex-grow: 1; }
  #xyo .screenshot-wrapper {
    width: 100%;
    box-shadow: 0px 0px 72px rgba(0, 0, 0, 0.3); }
    #xyo .screenshot-wrapper .clipping-mask {
      position: absolute;
      top: 1px;
      bottom: 1px;
      left: 1px;
      right: 1px;
      overflow: hidden; }
  #xyo #xyo-explore {
    animation-delay: 2s; }
  #xyo #xyo-detail {
    animation-delay: 4s; }

#archive {
  /*	background-color: #A3E7F0;
  
  	h3, .work-link{
  		color: #5000FF;
  	}
  
  	.work-link:before{
  		background-color: #5000FF;
  	}
  
  	p{
  		color: rgba(0,0,0,0.54)
  	}
  
  
  	.work-detail{
  		background-color: #fff;
  
  		p{
  			color: rgba(0,0,0,0.87)
  		}
  	}*/ }

.horizontal-layout {
  display: flex;
  flex-direction: row; }
  .horizontal-layout > * {
    /*flex-grow:1;*/ }

.vertical-layout {
  display: flex;
  flex-direction: column; }
  .vertical-layout > * {
    /*flex-grow:1;*/ }

.flex-1 {
  flex-grow: 1; }

.flex-2 {
  flex-grow: 2; }

.flex-3 {
  flex-grow: 3; }

@media (min-width: 48rem) {
  .vertical-scroll {
    animation: vertical-scroll 15s infinite cubic-bezier(0.075, 0.82, 0.165, 1); } }

@keyframes vertical-scroll {
  0% {
    transform: translate3d(0%, 0%, 0px); }
  30% {
    transform: translate3d(0%, -20%, 0px); }
  60% {
    transform: translate3d(0%, -50%, 0px); }
  100% {
    ftransform: translate3d(0%, 0%, 0px); } }
.work-detail .center-text {
  justify-content: center; }
.work-detail .image {
  background-color: #efefef; }

/*.copy-block{
	padding-top:4rem;
	padding-bottom:4rem;
	min-height:80vh;
}*/

/*# sourceMappingURL=style.css.map */
